@import "tailwindcss";

@theme {
  --font-sans: "Satoshi-Variable", "Satoshi-Regular", sans-serif;
}

html {
  @apply bg-zinc-50 dark:bg-zinc-900 dark:text-gray-50 w-screen overflow-x-hidden;
}

body {
  @apply w-screen overflow-x-hidden;
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
