---
import Navbar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import TeamCard from "../components/TeamCard.astro";
import team from "../data/team.json";
import { Image } from "astro:assets";
import aboutImage from "../assets/about.webp";
import SEOFragment from "../components/SEOFragment.astro";
import type { TeamMember } from "../util/team";

const description =
  "At Fyra Labs, we believe technology can change the world. Our focus is to create technology that respects privacy, is open-source, and user-centric.";

const seo = {
  title: "About Fyra Labs",
  url: Astro.url.pathname,
  description,
};
---

<Layout title="About">
  <SEOFragment {...seo} slot="head" />

  <Navbar pathname={Astro.url.pathname} client:load />

  <!-- TODO: hack for "min margins", move to layout -->
  <div class="mx-6 mb-12">
    <div class="mx-auto max-w-5xl">
      <section class="flex items-center gap-12">
        <div class="flex-1">
          <h1 class="font-bold text-5xl dark:opacity-[92%]">
            About <br />Fyra Labs
          </h1>
          <p class="mt-6 text-gray-800 dark:text-gray-300">
            {description}
          </p>
        </div>

        <div class="flex-1 hidden lg:block">
          <!-- @ts-expect-error -->
          <Image
            src={aboutImage}
            alt="About Fyra Labs"
            class="rounded-2xl hover:shadow-md transition-all bg-neutral-100 dark:bg-neutral-800"
          />
        </div>
      </section>

      <section class="mt-6">
        <h1 class="font-bold text-3xl mb-8 dark:opacity-[92%]">
          Our Principles
        </h1>

        <div class="flex flex-col md:flex-row gap-6">
          <div
            class="p-4 bg-neutral-100 dark:bg-neutral-800 hover:shadow-md transition-all rounded-2xl"
          >
            <p class="font-semibold text-2xl mb-3 dark:opacity-[92%]">Open</p>
            <p class="dark:opacity-[92%]">
              We believe in the power of open-source. Our code is open for
              anyone to access, examine, and improve. We believe that
              open-source leads to innovation, which ultimately leads to better
              technology for everyone.
            </p>
          </div>

          <div
            class="p-4 bg-neutral-100 dark:bg-neutral-800 hover:shadow-md transition-all rounded-2xl"
          >
            <p class="font-semibold text-2xl mb-3 dark:opacity-[92%]">
              Private
            </p>
            <p class="dark:opacity-[92%]">
              We understand that trust is built on privacy. That's why we
              prioritize privacy in by employing end-to-end encryption and
              on-device proccesing whenever possible to protect your data, even
              from ourselves.
            </p>
          </div>

          <div
            class="p-4 bg-neutral-100 dark:bg-neutral-800 hover:shadow-md transition-all rounded-2xl"
          >
            <p class="font-semibold text-2xl mb-3 dark:opacity-[92%]">Human</p>
            <p class="dark:opacity-[92%]">
              We believe that technology exists to serve humanity. That's why we
              design our products with respect for the user in mind. We strive
              to create technology that is inclusive, and accesible, for the
              benefit of all.
            </p>
          </div>
        </div>
      </section>

      <section class="mt-6">
        <h1 class="font-bold text-3xl mb-8 dark:opacity-[92%]">
          Meet the Team
        </h1>

        <div class="grid grid-auto-fit-sm gap-6">
          {(team as TeamMember[]).map((member) => <TeamCard {...member} />)}
        </div>
      </section>
    </div>
  </div>
</Layout>
