---
import Navbar from '../components/Navbar';
import Layout from '../layouts/Layout.astro';
import TeamCard from '../components/TeamCard.astro';
---

<Layout title="About">
  <Navbar pathname={Astro.url.pathname} client:load />

  <section class="flex mx-auto max-w-5xl items-center gap-12">
    <div class="flex-1">
      <h1 class="font-bold text-5xl">About <br/>Fyra Labs</h1>
      <p class="mt-3">At Fyra Labs, we believe technology can make a positive impact. Our focus is to create advanced technology that prioritizes privacy, is open-source, and user-centric. Guided by these principles, we aim to develop products that make a real difference.</p>
    </div>

    <div class="flex-1">
      <img src="/about.webp" alt="About Fyra Labs" class="rounded-2xl shadow-md" />
    </div>
  </section>


  <section class="mx-auto max-w-5xl mt-6">
    <h1 class="font-bold text-3xl mb-8">Our Principles</h1>

    <div class="grid grid-cols-3 gap-6">
      <div class="p-4 bg-neutral-800 shadow-sm rounded-2xl">
        <p class="font-semibold text-2xl mb-3">Open</p>
        <p>Fyra Labs believes in the power of open-source. Our code is open for anyone to access, examine, and improve. We believe that open-source leads to innovation and collaboration, which ultimately leads to better technology for everyone.</p>
      </div>

      <div class="p-4 bg-neutral-800 shadow-sm rounded-2xl">
        <p class="font-semibold text-2xl mb-3">Private</p>
        <p>At Fyra Labs, we understand that trust is built on user privacy. That's why we put privacy at the forefront of our product development and employ end-to-end encryption whenever possible to protect user data, even from Fyra.</p>
      </div>

      <div class="p-4 bg-neutral-800 shadow-sm rounded-2xl">
        <p class="font-semibold text-2xl mb-3">Human</p>
        <p>We believe that technology exists to serve humanity. That's why we design our products with respect for the user in mind. We strive to create technology that is inclusive, accessible, and user-centered, for the benefit of all.</p>
      </div>
    </div>
  </section>

  <section class="mx-auto max-w-5xl mt-6">
    <h1 class="font-bold text-3xl mb-8">Meet the Team</h1>

    <div class="grid grid-cols-4 gap-6 place-items-center">
      <!-- idea... online status based on Discord -->
      <TeamCard
        name="Lleyton Gray"
        username="lleyton"
        title="CEO & Neko Overlord"
        socials={[
          { icon: "fa-brands:github", link: "https://github.com/lleyton" },
          { icon: "fa-brands:twitter", link: "https://twitter.com/lleyton__" },
          { icon: "fa-brands:mastodon", link: "https://ordinary.cafe/@lea" },
        ]}
      />
      <TeamCard
        name="Jaiden Riorden"
        username="jade"
        title="Chief Operating Officer"
        socials={[
          { icon: "fa-brands:github", link: "https://github.com/nothingneko" },
          { icon: "fa-brands:twitter", link: "https://twitter.com/jaidens__" },
          { icon: "fa-brands:mastodon", link: "https://ordinary.cafe/@jaiden" },
        ]}
      />
      <TeamCard
        name="Lains"
        username="lains"
        title="Chief Design Officer"
        socials={[
          { icon: "fa-brands:github", link: "https://github.com/lainsce" },
          { icon: "fa-solid:globe", link: "https://lainsce.us" },
          { icon: "fa-brands:mastodon", link: "https://fosstodon.org/@lainsdev" },
        ]}
      />
      <TeamCard
        name="Cappy Ishihara"
        username="cappy"
        title="Senior DevOps Engineer"
        socials={[
          { icon: "fa-brands:github", link: "https://github.com/korewaChino" },
          { icon: "fa-solid:globe", link: "https://cappuchino.xyz/" },
          { icon: "fa-brands:twitter", link: "https://twitter.com/CappyIshihara" },
        ]}
      />
      <TeamCard
        name="windowsboy111"
        username="windowsboy111"
        title="DevOps Engineer"
        socials={[
          { icon: "fa-brands:github", link: "https://github.com/windowsboy111" },
          { icon: "fa-brands:mastodon", link: "https://floss.social/@madomado" },
        ]}
      />
      <TeamCard
        name="Owen SZ"
        username="owen"
        title="Digital Media Consultant"
        socials={[
          { icon: "fa-brands:twitter", link: "https://twitter.com/owen_zimmerman" },
          { icon: "fa-brands:mastodon", link: "https://ordinary.cafe/@owen" },
        ]}
      />
      <TeamCard
        name="Trobo"
        username="trobo"
        title="Web Developer"
        socials={[
          { icon: "fa-brands:github", link: "https://github.com/trobonox" },
          { icon: "fa-solid:globe", link: "https://trobo.tech" },
        ]}
      />
    </div>
  </section>

  <div class="my-7"></div>
</Layout>
