---
import Navbar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import map from "../assets/map.svg?url";
import SEOFragment from "../components/SEOFragment.astro";

const description = "Got a question or idea? Our global team is here to help!";
const seo = {
  title: "Let's Talk",
  description,
  url: Astro.url.pathname,
};
---

<Layout title="Contact">
  <SEOFragment {...seo} slot="head" />

  <Navbar pathname={Astro.url.pathname} client:load />

  <div class="mx-6 mb-12">
    <div class="mx-auto max-w-5xl">
      <section class="flex flex-col items-center gap-12 mt-14">
        <div class="text-center">
          <h1 class="text-5xl font-bold dark:opacity-[92%]">Let's Talk</h1>
          <h2 class="mt-3 text-gray-800 dark:text-gray-300">
            {description}
          </h2>
        </div>
        <img src={map} alt="Map of Fyra locations" />
      </section>

      <section class="flex flex-col md:flex-row gap-12 mt-14">
        <article class="flex-1">
          <h1 class="font-semibold text-xl mb-2 dark:opacity-[92%]">Socials</h1>
          <ul
            class="flex flex-col gap-1 [&_a]:inline-flex [&_a]:gap-2 [&_a]:items-center [&_a]:text-gray-800 [&_a]:dark:text-gray-100 [&_a:hover]:text-gray-800 [&_a:hover]:dark:text-gray-300 [&_a]:transition-all [&_svg]:w-5 [&_svg]:h-5"
          >
            <li class="flex gap-2 items-center">
              <a
                href="https://twitter.com/teamfyralabs"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name="fa-brands:twitter" />
                <span>Twitter</span>
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <a
                href="https://fedi.fyralabs.com/@hq"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name="fa-brands:mastodon" />
                <span>Mastodon/Fediverse</span>
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <a
                href="https://github.com/fyralabs"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name="fa-brands:github" />
                <span>GitHub</span>
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <a
                href="https://discord.gg/5fdPuxTg5Q"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name="fa-brands:discord" />
                <span>Discord</span>
              </a>
            </li>
          </ul>
        </article>

        <article class="flex-1">
          <h1 class="font-semibold text-xl mb-2 dark:opacity-[92%]">Emails</h1>

          <ul class="flex flex-col gap-1">
            <li class="flex gap-2 items-center">
              <span class="font-semibold text-gray-600 dark:text-gray-200"
                >General</span
              >
              <a
                href="mailto:contact@fyralabs.com"
                class="ml-auto group text-gray-800 dark:text-gray-300"
              >
                contact<span
                  class="text-violet-700 dark:text-violet-300 group-hover:text-gray-800 group-hover:dark:text-gray-300 transition-all"
                  >@fyralabs.com</span
                >
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <span class="font-semibold text-gray-600 dark:text-gray-200"
                >Security</span
              >
              <a
                href="mailto:security@fyralabs.com"
                class="ml-auto group text-gray-800 dark:text-gray-300"
              >
                security<span
                  class="text-violet-700 dark:text-violet-300 group-hover:text-gray-800 group-hover:dark:text-gray-300 transition-all"
                  >@fyralabs.com</span
                >
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <span class="font-semibold text-gray-600 dark:text-gray-200"
                >Support</span
              >
              <a
                href="mailto:support@fyralabs.com"
                class="ml-auto group text-gray-800 dark:text-gray-300"
              >
                support<span
                  class="text-violet-700 dark:text-violet-300 group-hover:text-gray-800 group-hover:dark:text-gray-300 transition-all"
                  >@fyralabs.com</span
                >
              </a>
            </li>
            <li class="flex gap-2 items-center">
              <span class="font-semibold text-gray-600 dark:text-gray-200"
                >Services</span
              >
              <a
                href="mailto:services@fyralabs.com"
                class="ml-auto group text-gray-800 dark:text-gray-300"
              >
                services<span
                  class="text-violet-700 dark:text-violet-300 group-hover:text-gray-800 group-hover:dark:text-gray-300 transition-all"
                  >@fyralabs.com</span
                >
              </a>
            </li>
          </ul>
        </article>

        <article class="flex-1">
          <h1 class="font-semibold text-xl mb-1 dark:opacity-[92%]">Join</h1>
          <p class="dark:opacity-[92%]">
            Want to join our team? <a
              href="mailto:apply@fyralabs.com"
              class="ml-auto group text-gray-800 dark:text-gray-300"
            >
              Email us and we'll get back to you soon. Please note that this is an unpaid role (for now!)
            </a>
          </p>
        </article>
      </section>
    </div>
  </div>
</Layout>
