---
import Navbar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
---

<Layout title="owo.">
  <canvas
    id="background"
    class="absolute -z-20 top-0 left-0 right-0 bottom-0 w-full h-full"></canvas>

  <Navbar pathname="" />

  <div
    class="bg-gradient-to-b from-transparent via-transparent to-black -z-10 absolute top-0 left-0 right-0 bottom-0 pointer-events-none"
  >
  </div>
  <div class="mb-14 ml-14 flex flex-col absolute bottom-0">
    <h1 class="font-bold text-5xl">Welcome to Fyra Labs.</h1>
    <h2 class="text-lg mt-1">
      Creating a better future through cutting-edge, open-source technology
    </h2>
  </div>
</Layout>

<style>
  html {
    @apply bg-black text-gray-50;
  }
</style>

<script src="../util/background.ts"></script>
