---
import Navbar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
---

<Layout title="Products">
  <Navbar pathname={Astro.url.pathname} client:load />

  <div class="mx-6 mb-6">
    <div class="mx-auto max-w-5xl">
      <section class="flex flex-col items-center gap-12 my-14">
        <h1 class="text-5xl font-bold">Our Products</h1>
      </section>

      <div class="flex flex-col gap-6 mx-12">
        <ProductCard link="" name="tauOS">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quia
            odit beatae cupiditate itaque? Culpa minima quaerat mollitia
            voluptatem consequuntur sint ex quas corporis minus. Labore eos ipsa
            tempore corrupti!
          </p>
        </ProductCard>

        <ProductCard link="" name="Ultramarine Linux" reverse={true}>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quia
            odit beatae cupiditate itaque? Culpa minima quaerat mollitia
            voluptatem consequuntur sint ex quas corporis minus. Labore eos ipsa
            tempore corrupti!
          </p>
        </ProductCard>

        <ProductCard link="" name="Andaman Toolchain">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quia
            odit beatae cupiditate itaque? Culpa minima quaerat mollitia
            voluptatem consequuntur sint ex quas corporis minus. Labore eos ipsa
            tempore corrupti!
          </p>
        </ProductCard>
      </div>
    </div>
  </div>
</Layout>
