---
import Navbar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Submitted">
  <div class="flex flex-col min-h-screen">
    <Navbar pathname={Astro.url.pathname} client:load />
    <div class="flex-1 flex justify-center items-center">
      <main class="text-center">
        <h1 class="font-bold text-2xl">Thanks for getting in touch!</h1>
        <p class="text">
          We will get back to you as soon as possible, at most 48 hours.
        </p>
      </main>
    </div>
  </div>
</Layout>
