---
import { ArrowRightIcon } from "@heroicons/react/24/outline";

interface Props {
  name: string;
  link: string;
  reverse?: boolean;
}

const { name, link, reverse } = Astro.props;
---

<article
  class:list={[
    "flex bg-neutral-800 shadow-md rounded-2xl h-64",
    {
      "flex-row-reverse": reverse,
    },
  ]}
>
  <img
    src={"/ultramarine.webp"}
    alt="Ultramarine Desktop"
    class:list={[
      "object-cover w-1/2 h-full",
      reverse ? "rounded-r-2xl" : "rounded-l-2xl",
    ]}
  />
  <div class="p-8 flex flex-col justify-between w-1/2">
    <h1 class="font-bold text-3xl">{name}</h1>

    <slot />

    <a href={link} class="flex flex-row items-center gap-1 text-violet-300"
      >Discover More <ArrowRightIcon className="h-4 w-4" /></a
    >
  </div>
</article>
