---
import "@fontsource/inter/variable.css";
import "../../public/css/satoshi.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <slot name="head" />

    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#c4b5fd" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    @apply bg-zinc-50 dark:bg-zinc-900 dark:text-gray-50;
  }
</style>
